<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel-App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="headline">
      Travel App
    </div>
    <div class="cityinfo">
      <label for="city">Enter city name:</label><br>
      <input type="text" id="city" placeholder="Enter city name here">
    </div>
    <button id="go" type="submit"> Go </button>
  </div>
  <div class="allinfo">
    <div class="title">Weather Info:</div>
    <div id="infogroup">
      <div id="dest"></div>
      <div id="datetime"></div>
      <div id="temp"></div>
      <div id="describe"></div>
      <div id="img1"></div>
    </div>
  </div>
  </div>


</body>

</html>