body{
    background: #DCD8B5;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    flex-flow: column;
}
header {
    color: blue;
    
}
header, main {
    margin: 0 auto;
}

img {
    max-width: 15em;
    max-height: 12em;
    border-radius: 3px;
}

img:hover{
    box-shadow: 2px 2px 2px grey;
}

#city:hover {
    box-shadow: 2px 2px 2px black;
}

#go:hover {
    box-shadow: 2px 2px 2px grey;
}

#date:hover, #dateend:hover {
    box-shadow: 2px 2px 2px grey;
}

.cityinfo, button, .title, .dateinfo {
    margin-bottom: 10px;
}
button {
    background: blue;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}

#dest, #temp, #describe, #datetime, #img1, #length {
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    color: blue;
}
#dest:hover, #temp:hover, #describe:hover, #datetime:hover, #length:hover {
    background: blue;
    color: white;
}

.summaryinfo {
    margin: 0 auto;
}
.display {
    margin: 0 auto;
}

