body{
    background: #DCD8B5;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#img1 {
    width: 30%;
    height: 30%;
}

#city:hover {
    box-shadow: 2px 2px 2px black;
}

#go:hover {
    box-shadow: 2px 2px 2px grey;
}

#date:hover, #dateend:hover {
    box-shadow: 2px 2px 2px grey;
}

.headline {
    width: 100%;
    margin: 10px;
    color: blue;
    font-size: 20px;
}

.cityinfo, button, .title, .dateinfo {
    margin: 10px;
}
button {
    background: blue;
    color: white;
    width: 60px;
    height: 30px;
}

#dest, #temp, #describe, #datetime, #img1, #length {
    margin: 10px;
}


